$title-bgcolor: lightgray;

.grid {
    .title {
        padding: 1px 1px;
        background-color: $title-bgcolor;
        display: flex;
        flex-direction: row;
        // border-radius: 10px 10px 0px 0px;

        .title-text {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            padding: 12px 16px;;
        }

        .badge {
            background-color: white;
            color: gray;
            padding: 2px 10px;
            margin: 8px 2px 10px 15px;
            font-size: 10px;
            font-weight: bold;
            border-radius: 15px;
        }

        .spacer {
            flex: 1;
        }

        .view-types {
            display: flex;
            flex-direction: row;
            flex: 0 0 auto;
            margin: 3px 3px 3px 12px;

            .view-type {
                cursor: pointer;
                padding: 4px;
                margin: 1px;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                min-width: 30px;

                &.active {
                    background-color: white;
                }

                &:hover {
                    background-color: white;
                }
            }
        }
    }

    .filter-input-row {
        display: flex;
        flex-direction: row;
        align-self: center;
        margin: 0px 2px 0px 0px;
        justify-content: flex-end;

        &.standalone {
            flex: 1;
            width: 100%;
            padding: 8px 10% 8px 10%;
            border-radius: 4px;

            justify-items: center;
            justify-content: center;
            justify-self: center;
            align-items: center;
            align-content: center;
            align-self: center;

            .filter-input {
                flex: 1;
            }
        }

        &.compact {
            flex: 0 0 35px;
            border-radius: 0px 10px 0px 0px;

            .filter-input {
                flex: 0 0 35px;
                border-radius: 4px;
                content: '';

                &:focus-within {
                    flex: 0 0 100%;
                }
            }
        }

        .filter-input {
            justify-items: center;
            justify-content: center;
            justify-self: center;
            align-items: center;
            align-content: center;
            align-self: center;
            overflow: hidden;
        }
    }

    .view-container {
        
    }
}