<div class="section section-welcome">
    <div class="section-content">
        <div class="owner-container">
            <div class="owner-name animate__animated animate__fadeInRight">
                <span class="firstname">{{data.general.firstname}}</span>
                <span class="lastname">{{data.general.lastname}}</span>
            </div>

            <div class="owner-title animate__animated animate__fadeIn"
                 style="animation-delay: 0.7s;">
                {{data.general.title}}
            </div>

            <a class="owner-cv-button animate__animated animate__bounceInUp"
               style="animation-delay: 0.5s;"
               href="/assets/files/downloads/CV/CV_MuhammetTursak_v52.20200304.pdf" 
               target="_blank">
                <i class="fa fa-download"></i>
                <span>DOWNLOAD CV</span>
            </a>
        </div>
    </div>

    <div class="section-bg"></div>
</div>