// variables
$header-bgcolor: rgb(243, 243, 243);
$cell-bgcolor: white;

//css
.grid-list {
    margin-bottom: 30px;
    // border-radius: 0px 0px 10px 10px;
    border: 1px solid lightgray;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .rows {
        .header-row {
            padding: 8px 16px;
            background-color: $header-bgcolor;
            // border-bottom: 1px solid gray;
            font-weight: bold;
            display: flex;
            flex-direction: row;

            .header-cell {
                flex: 1;
            }
        }

        .row {
            padding: 8px 16px;
            background-color: $cell-bgcolor;
            display: flex;
            flex-direction: row;

            &:not(:last-child) {
                border-bottom: 1px dashed lightgray;
            }

            .cell {
                flex: 1;
                padding: 2px 5px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &:hover {
                background-color: rgb(255, 255, 238);
            }
        }
    }
}