<div class="section section-statistics">
    <div *ngFor="let item of data.items"
         class="item">
        <div class="item-icon">
            <i class="{{item.iconCss}}"></i>
        </div>
        <div class="item-value-cells">
            <div class="item-value-cell">
                <div class="item-value">{{item.value}}</div>
                <div class="item-subtitle">{{item.subTitle}}</div>
            </div>
            <div class="item-title">{{item.title}}</div>
        </div>
    </div>
</div>