@import 'tooltip.scss';

/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0px;
    padding: 0px;
    height: auto !important;
}

html {
    scroll-behavior: smooth;
}

body { 
    margin: 0; 
    font-family: Lato, sans-serif !important; 
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}


// dialog
mat-dialog-container {
    .mdc-dialog__surface {
        display: flex !important;
        flex-direction: column !important;

        [mat-dialog-title] {
            flex: 0 0 auto;
            background-color: lightgray;
            // padding: 10px 10px 10px 18px;
            border-bottom: 1px dashed gray;
            font-weight: bold;
            font-size: 20px;
        }
    
        [mat-dialog-content] {
            flex: 1;
            padding: 20px 10px;
        }
    
        [mat-dialog-actions] {
            flex: 0 0 auto;
            background-color: rgb(236, 236, 236);
            border-top: 1px solid lightgray;
            padding: 4px 10px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}