<ng-template #templateScreenshot let-screenshot="screenshot">
    <div>{{screenshot.name}}</div>
</ng-template>

<div class="project-page">
    <div class="page-header">
        <div class="header-buttons">
            <a class="btn-back" [routerLink]="['/']">
                <i class="icon fa-solid fa-chevron-left"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="page-header-text">
            {{ item?.title }}
        </div>
        <div class="site-owner">Muhammet Turşak</div>
    </div>

    <div class="project" *ngIf="item">
        <div class="project-title-container">
            <div class="project-logo">
                <img [src]="'/assets/files/projects/_logos/' + item.name + '.png'">
            </div>
            <div class="project-date">
                {{ item.datePeriod?.startDate }} - {{ item.datePeriod?.endDate ?? 'Present' }}
            </div>
            <div class="project-title">
                {{ item.title }}
            </div>
        </div>

        <div class="project-content">
            <div class="project-summary">
                <div class="project-summary-text">
                    {{item.summary}}
                </div>

                <mat-tab-group>
                    <!-- Screenshots //-->
                    <mat-tab label="Screenshots" *ngIf="(projectScreenshots ?? []).length>0">
                        <grid 
                            title="Screenshots"
                            customClass="grid-screenshots"
                            [viewTypes]="['card']"
                            viewType="card"
                            [showFilterRow]="true"
                            [showHeaderRow]="true"
                            [showCountBadge]="true"
                            [items]="projectScreenshots"
                            [filterFields]="['title']"
                            (itemClick)="onScreenshotClick($event)">

                        <ng-template #viewsTemplate
                                    let-filteredItems="filteredItems"
                                    let-viewType="viewType"
                                    let-onItemClick="onItemClick">
                            <!-- List View //-->
                            <grid-listview *ngIf="viewType=='list'"
                                        [items]="filteredItems"
                                        [showColumnHeaders]="true"
                                        (itemClick)="onItemClick($event)">
                                <grid-column name="title" title="Title">
                                    <ng-template #cellTemplate let-item="item">
                                        {{item.title}}
                                    </ng-template>
                                </grid-column>
                            </grid-listview>

                            <!-- Card View //-->
                            <grid-cardview *ngIf="viewType=='card'"
                                        [items]="filteredItems"
                                        [getImageSrc]="appUtils.getProjectScreenshotPath"
                                        (itemClick)="onItemClick($event)">
                                <ng-template #titleTemplate let-item="item">
                                    {{item.title}}
                                </ng-template>
                            </grid-cardview>

                        </ng-template>
                        </grid>
                    </mat-tab>
                    
                    <!-- Technologies //-->
                    <mat-tab label="Technologies" *ngIf="(item.technologies ?? []).length>0">
                        <grid 
                            title="Technologies"
                            customClass="grid-technologies"
                            [viewTypes]="['list', 'card', 'singlecard', 'gallery']"
                            viewType="list"
                            [showFilterRow]="true"
                            [showHeaderRow]="true"
                            [showCountBadge]="true"
                            [items]="item.technologies ?? []"
                            [filterFields]="['name','title']">

                        <ng-template #viewsTemplate let-filteredItems="filteredItems" let-viewType="viewType">
                            <!-- List View //-->
                            <grid-listview [showColumnHeaders]="false" [items]="filteredItems" *ngIf="viewType=='list'">
                                <grid-column name="icon" title="">
                                    <ng-template #cellTemplate let-item="item">
                                        <img [src]="appUtils.getTechnologyImage(item)">
                                    </ng-template>
                                </grid-column>

                                <grid-column name="name" title="Name">
                                    <ng-template #cellTemplate let-item="item">
                                        {{item.name}}
                                    </ng-template>
                                </grid-column>
                            </grid-listview>

                            <!-- Card View //-->
                            <grid-cardview [items]="filteredItems" *ngIf="viewType=='card'"
                                           [getImageSrc]="appUtils.getTechnologyImage">
                                <ng-template #titleTemplate let-item="item">
                                    {{item.name}}
                                </ng-template>
                            </grid-cardview>

                            <!-- SingleCard View //-->
                            <grid-singlecardview [items]="filteredItems" *ngIf="viewType=='singlecard'"
                                              [getImageSrc]="appUtils.getTechnologyImage">
                                <ng-template #titleTemplate let-item="item">
                                    {{item.name}}
                                </ng-template>

                                <ng-template #bodyTemplate let-item="item">
                                    {{item.name}}
                                </ng-template>
                            </grid-singlecardview>

                            <!-- Gallery View //-->
                            <grid-galleryview [items]="filteredItems" *ngIf="viewType=='gallery'"
                                              [getImageSrc]="appUtils.getTechnologyImageBig">
                                <ng-template #titleTemplate let-item="item">
                                    {{item.name}}
                                </ng-template>

                                <ng-template #bodyTemplate let-item="item">
                                    {{item.name}}
                                </ng-template>
                            </grid-galleryview>

                        </ng-template>
                        </grid>
                    </mat-tab>

                    
                    <!-- Partners //-->
                    <mat-tab label="Partners" *ngIf="(item.partners ?? []).length>0">
                        <grid 
                            title="Partners"
                            [viewTypes]="['list']"
                            viewType="list"
                            [showFilterRow]="false"
                            [showHeaderRow]="true"
                            [showCountBadge]="true"
                            [items]="item.partners ?? []"
                            [filterFields]="['name','position']">
                        
                            <ng-template #viewsTemplate let-filteredItems="filteredItems" let-viewType="viewType">
                                <!-- List View //-->
                                <grid-listview [showColumnHeaders]="false" [items]="filteredItems" *ngIf="viewType=='list'">
                                    <grid-column name="name" title="Name">
                                    </grid-column>
                                </grid-listview>

                            </ng-template>
                        </grid>
                    </mat-tab>

                    <!-- Modules //-->
                    <mat-tab label="Modules" *ngIf="(item.modules ?? []).length>0">
                        <grid
                            title="Modules"
                            [viewTypes]="['list']"
                            viewType="list"
                            [showFilterRow]="false"
                            [showHeaderRow]="true"
                            [showCountBadge]="false"
                            [items]="item.modules ?? []"
                            [filterFields]="['name']">

                            <ng-template #viewsTemplate let-filteredItems="filteredItems" let-viewType="viewType">
                                <!-- List View //-->
                                <grid-listview [showColumnHeaders]="false" [items]="filteredItems" *ngIf="viewType=='list'">
                                    <grid-column name="name" title="Name">
                                        <ng-template #cellTemplate let-item="item">
                                            {{ item }}
                                        </ng-template>
                                    </grid-column>
                                </grid-listview>

                            </ng-template>
                        </grid>
                    </mat-tab>
                </mat-tab-group>
            </div>

            <div class="project-details">
                <!-- Domains //-->
                <grid *ngIf="(item.domains ?? []).length>0"
                    title="Domains"
                    [viewTypes]="['list']"
                    viewType="list"
                    [showFilterRow]="false"
                    [showHeaderRow]="true"
                    [showCountBadge]="false"
                    [items]="item.domains ?? []"
                    [filterFields]="['name','title']">
                
                    <ng-template #viewsTemplate let-filteredItems="filteredItems" let-viewType="viewType">
                        <!-- List View //-->
                        <grid-listview [showColumnHeaders]="false" [items]="filteredItems" *ngIf="viewType=='list'">
                            <grid-column name="title" title="Title">
                                <ng-template #cellTemplate let-item="item">
                                    {{item.title}}
                                </ng-template>
                            </grid-column>
                        </grid-listview>
                    </ng-template>
                </grid>

                <!-- Customers //-->
                <grid *ngIf="(item.customers ?? []).length>0"
                    title="Customers"
                    [viewTypes]="['list']"
                    viewType="list"
                    [showFilterRow]="false"
                    [showHeaderRow]="true"
                    [showCountBadge]="false"
                    [items]="item.customers ?? []"
                    [filterFields]="['name']">
                
                    <ng-template #viewsTemplate let-filteredItems="filteredItems" let-viewType="viewType">
                        <!-- List View //-->
                        <grid-listview [showColumnHeaders]="false" [items]="filteredItems" *ngIf="viewType=='list'">
                            <grid-column name="name" title="Name">
                                <ng-template #cellTemplate let-item="item">
                                    {{ item }}
                                </ng-template>
                            </grid-column>
                        </grid-listview>

                    </ng-template>
                </grid>

                <!-- Team //-->
                <grid *ngIf="(item.team ?? []).length>0"
                    title="Team"
                    [viewTypes]="['list']"
                    viewType="list"
                    [showFilterRow]="false"
                    [showHeaderRow]="true"
                    [showCountBadge]="false"
                    [items]="item.team ?? []"
                    [filterFields]="['name','position']">

                    <ng-template #viewsTemplate let-filteredItems="filteredItems" let-viewType="viewType">
                        <!-- List View //-->
                        <grid-listview [showColumnHeaders]="false" [items]="filteredItems" *ngIf="viewType=='list'">
                            <grid-column name="name" title="Name">
                                <ng-template #cellTemplate let-item="item">
                                    <div>
                                        {{ item.name }}<br/>
                                        <small>({{ item.position }})</small>
                                    </div>
                                </ng-template>
                            </grid-column>
                        </grid-listview>

                    </ng-template>
                </grid>
                
            </div>
        </div>

        
    </div>

    <div class="not-found" *ngIf="!item">
        Project not found!
    </div>
</div>