:host ::ng-deep {
    .project-page {
        display: flex;
        flex-direction: row;

        .project-summary {
            flex: 1;
            font-size: 14px;
            padding: 10px 30px 60px 0px;
            text-align: justify;

            mat-tab-group {
                margin-top: 80px;
            }
        }

        .project-details {
            flex: 0 0 250px;
        }
    }

    .grid-technologies {
        .cell-icon {
            flex: 0 0 50px !important;
            display: flex;
            flex-direction: row;
            justify-content: center;
            img {
                width: 30px;
            }
        }

        .cell-name {
            padding-left: 30px !important;
        }
    }

    .grid-screenshots {
        .card-item {
            max-width: unset !important;
            width: unset !important;
            height: unset !important;
            img {
                height: 150px !important;
            }
        }
    }
}