.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // border-radius: 0px 0px 10px 10px;
    border: 1px solid lightgray;

    .card-item {
        max-width: 100px;
        width: 100px;
        display: flex;
        flex-direction: column;
        height: 120px;
        position: relative;
        margin: 10px;
        border-top: 3px solid transparent;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        pointer-events: auto;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
            border-top: 4px solid lightgray;
            border-bottom: 1px solid lightgray;
            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
        }

        .item-image {
            margin: 20px;
            pointer-events: none;
        }

        .item-title {
            display: flex;
            width: 100%;
            min-height: 40px;
            position: absolute;
            bottom: 0px;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            padding: 3px 5px 6px 5px;
            background-color: rgba(163, 163, 163, 0.1);
            display: none;
            pointer-events: none;
            &.hovered {
                display: flex;
            }
        }
    }
}