<div class="top-menu">
    <div class="logo animate__animated animate__fadeInDown">
        <a href="/">tursoft</a>
    </div>

    <div class="mainmenu">
        <div class="menu-hamburger">
            <button type="button"
                    class="navbar-toggle" 
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="menu-items animate__animated animate__fadeInRight">
            <div class="menu-item smoth-scroll" (click)="scrollToElement('aboutme')">About Me</div>
            <div class="menu-item smoth-scroll" (click)="scrollToElement('experiences')">Experiences</div>
            <div class="menu-item smoth-scroll" (click)="scrollToElement('education')">Academic Background</div>
            <div class="menu-item smoth-scroll" (click)="scrollToElement('projects')">Portfolio</div>
            <div class="menu-item smoth-scroll" (click)="scrollToElement('references')">References</div>
        </div>
    </div>
</div>