.top-menu {
    top: 0px;
    z-index: 99999;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    color: white !important;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 200px;
    background-color: black;

    .logo {
        flex: 1;
        padding: 5px;
        a, a:hover, a:visited {
            color: white;
            font-size: 18px;
            text-transform: uppercase;
        }
    }

    .mainmenu {
        flex: 0 0 auto;

        .menu-hamburger {
            display: none;
        }

        .menu-items {
            display: flex;
            flex-direction: row;
            margin-right: 35px;
            
            .menu-item,
            a, a:visited, a:hover
            {
                color: white !important;
                margin: 5px 15px;
                padding: 5px 10px;
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: none;
                line-height: 150%;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.5);
                    color: black !important;
                }
            }
        }
    }
}