<div class="top-menu">
    <div class="logo animate__animated animate__fadeInDown">
        <a href="/">tursoft</a>
    </div>

    <div class="mainmenu">
        <div class="menu-hamburger">
            <button type="button"
                    class="navbar-toggle" 
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="menu-items animate__animated animate__fadeInRight">
            <a class="menu-item smoth-scroll" href="#aboutme">About Me</a>
            <a class="menu-item smoth-scroll" href="#experiences">Experiences</a>
            <a class="menu-item smoth-scroll" href="#education">Academic Background</a>
            <a class="menu-item smoth-scroll" href="#projects">Portfolio</a>
            <a class="menu-item smoth-scroll" href="#references">References</a>
        </div>
    </div>
</div>