:host ::ng-deep { 
    .education-page {
        flex: 1;
        font-size: 14px;
        padding: 10px 30px 60px 0px;
        text-align: justify;
    }

    .education-details {
        flex: 0 0 250px;
    }

    .table-props {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: 10px 0px 35px 0px;
    
        .prop {
            padding: 4px;
            // border-top: 1px dashed lightgray;
            display: flex;
            flex-direction: row;
            &:not(:first-child) {
                border-top: 1px dashed lightgray;
                // border-bottom: 1px dashed lightgray;
            }
    
            .prop-header {
                // background-color: lightgray;
                font-weight: bold;
                padding: 5px;
                flex: 1;
            }
    
            .prop-value {
                padding: 5px;
                flex: 1;
            }
        }
    }

    .grid-technologies {
        .cell-icon {
            flex: 0 0 50px !important;
            display: flex;
            flex-direction: row;
            justify-content: center;
            img {
                width: 30px;
            }
        }

        .cell-name {
            padding-left: 30px !important;
        }
    }

    .grid-screenshots {
        .card-item {
            max-width: unset !important;
            width: unset !important;
            height: unset !important;
            img {
                height: 150px !important;
            }
        }
    }
}