<app-details-page
    header="Edcuation"
    [title]="item?.name ?? ''"
    [subTitle]="!item ? '' : (item.datePeriod.startDate + ' - ' + (item.datePeriod.endDate ?? 'Present'))"
    [item]="item"
    [getImgSrc]="repo.getImageSrcByDto">

    <div class="education-page" *ngIf="item">
        <div class="education-summary-text">
            <div class="table-props">
                <div class="prop">
                    <div class="prop-header">City</div>
                    <div class="prop-value">{{item.city}}</div>
                </div>
                <div class="prop">
                    <div class="prop-header">Level</div>
                    <div class="prop-value">{{item.level}}</div>
                </div>
                <div class="prop">
                    <div class="prop-header">Graduation Score</div>
                    <div class="prop-value">{{item.graduateScore}}</div>
                </div>
                <div class="prop">
                    <div class="prop-header">Graduation Date</div>
                    <div class="prop-value">{{item.graduateDate}}</div>
                </div>
            </div>
        </div>

        <!-- Courses //-->
        <grid *ngIf="(item?.courses ?? []).length>0"
            title="Courses"
            [viewTypes]="['list']"
            viewType="list"
            [showFilterRow]="false"
            [showHeaderRow]="true"
            [showCountBadge]="false"
            [items]="item.courses"
            [filterFields]="['name', 'content']">

            <ng-template #viewsTemplate let-filteredItems="filteredItems" let-viewType="viewType">
                <!-- List View //-->
                <grid-listview [showColumnHeaders]="true" [items]="filteredItems" *ngIf="viewType=='list'">
                    <grid-column name="name" title="Name">
                        <ng-template #cellTemplate let-item="item">
                            {{ item.name }}
                        </ng-template>
                    </grid-column>

                    <grid-column name="content" title="Content">
                        <ng-template #cellTemplate let-item="item">
                            {{ item.content }}
                        </ng-template>
                    </grid-column>
                </grid-listview>

            </ng-template>
        </grid>

        <!-- Technologies //-->
        <grid *ngIf="(item?.technologies ?? []).length>0"
            title="Technologies"
            customClass="grid-technologies"
            [viewTypes]="['list', 'card']"
            viewType="list"
            [showFilterRow]="true"
            [showHeaderRow]="true"
            [showCountBadge]="true"
            [items]="item.technologies ?? []"
            [filterFields]="['name','title']">

            <ng-template #viewsTemplate let-filteredItems="filteredItems" let-viewType="viewType">
                <!-- List View //-->
                <grid-listview [showColumnHeaders]="false" [items]="filteredItems" *ngIf="viewType=='list'">
                    <grid-column name="icon" title="">
                        <ng-template #cellTemplate let-item="item">
                            <img [src]="repoSkills.getImageSrcByDto(item)">
                        </ng-template>
                    </grid-column>

                    <grid-column name="name" title="Name">
                        <ng-template #cellTemplate let-item="item">
                            {{item.name}}
                        </ng-template>
                    </grid-column>
                </grid-listview>

                <!-- Card View //-->
                <grid-cardview [items]="filteredItems" *ngIf="viewType=='card'"
                            [getImageSrc]="repoSkills.getImageSrcByDto">
                    <ng-template #titleTemplate let-item="item">
                        {{item.name}}
                    </ng-template>
                </grid-cardview>
            </ng-template>
        </grid>
    </div>
    
</app-details-page>