.home {
    display: flex;
    flex-direction: column;
}


::ng-deep {
    // .section {
    //     padding-top: 90px;
    // }

    .section-title {
        text-align: center;
        font-weight: bold;
        font-size: 36px;
        padding: 30px 0px 30px 0px;
        text-transform: uppercase;
    }
}