<div class="home">
    <app-header></app-header>

    <div class="page-content">
        <app-welcome id="welcome"></app-welcome>
        
        <app-aboutme id="aboutme"></app-aboutme>
        <app-statistics id="statistics"></app-statistics>
        
        <app-experiences id="experiences"></app-experiences>
        <app-educations id="education"></app-educations>
        <app-projects id="projects"></app-projects>
        <app-skills id="skills"></app-skills>
        <app-references id="references"></app-references>
    </div>

    <app-footer></app-footer>
</div>
