<div class="grid">
    <div class="view-container" *ngIf="config">
        <grid-listview
                *ngIf="config.viewMode == 'list'" 
                [title]="title"
                [config]="config"
                [columns]="columns"
                [items]="items">
        </grid-listview>

        <grid-cardview
                *ngIf="config.viewMode == 'card'" 
                [title]="title"
                [config]="config"
                [columns]="columns"
                [items]="items">
        </grid-cardview>
    </div>
</div>