.section-educations {
    min-height: 400px;
}

::ng-deep {
    .timeline-body {
        display: flex;
        flex-direction: row;
        .col1 {
            flex: 1;
            padding-right: 10px;
        }

        .col2 {
            flex: 0 0 100px;
        }
    }
    // .box-icon {
    //     position: absolute;
    //     right: 5px;
    //     top: 95px;
    //     width: 100px !important;
    // }
}
