.section-skills {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: white;

    .section-summary {
        font-size: 14px;
        padding: 5px 0px 10px 0px;
        text-align: center;
    }
}

:host ::ng-deep {
    .grid-technologies {
        .cell-icon {
            flex: 0 0 50px !important;
            display: flex;
            flex-direction: row;
            justify-content: center;
            img {
                width: 30px;
            }
        }

        .cell-name {
            padding-left: 30px !important;
        }
    }
}

