<div class="section section-skills">
    <div class="section-title">
        {{ data.general.title }}
    </div>
    <div class="section-summary">
        {{ data.general.summary }}
    </div>

    <grid 
        title="Skills"
        customClass="grid-technologies"
        [viewTypes]="['list', 'card']"
        viewType="card"
        [showFilterRow]="false"
        [showStandaloneFilterRow]="true"
        [showHeaderRow]="false"
        [showCountBadge]="false"
        [items]="items"
        [filterFields]="['name','title', 'group']">

        <ng-template #viewsTemplate let-filteredItems="filteredItems" let-viewType="viewType">
            <!-- List View //-->
            <grid-listview [showColumnHeaders]="false" [items]="filteredItems" *ngIf="viewType=='list'">
                <grid-column name="icon" title="">
                    <ng-template #cellTemplate let-item="item">
                        <img [src]="repo.getImageSrcByDto(item)">
                    </ng-template>
                </grid-column>

                <grid-column name="name" title="Name">
                    <ng-template #cellTemplate let-item="item">
                        {{item.name}}
                    </ng-template>
                </grid-column>
            </grid-listview>

            <!-- Card View //-->
            <grid-cardview [items]="filteredItems" *ngIf="viewType=='card'"
                        [getImageSrc]="repo.getImageSrcByDto">
                <ng-template #titleTemplate let-item="item">
                    {{item.name}}
                </ng-template>
            </grid-cardview>

        </ng-template>
    </grid>

    <!-- <div class="filter-input-row">
      <div class="filter-input ui icon input">
        <input type="text" placeholder="Filter..."
               [(ngModel)]="filter.filterText"
               (ngModelChange)="filterItems()">
        <i class="search icon"></i>
      </div>
    </div>

    <div class="section-items">
        <div *ngFor="let item of filteredItems"
                  class="section-item"
                  (mouseenter)="item.hover = true"
                  (mouseout)="item.hover = false">
            <img class="item-image" mat-card-image [src]="repo.getImageSrcByDto(item)">
            <div [ngClass]="{'item-title': true, 'hovered': item.hover, 'animate__animated': true, 'animate__fadeIn': true }">
              {{ item.title }}
            </div>
        </div>
    </div> -->
</div>