<div class="section section-skills">
    <div class="section-title">
        {{ data.general.title }}
    </div>
    <div class="section-summary">
        {{ data.general.summary }}
    </div>

    <!-- <div class="section-groups" *ngIf="data.general.groups.length>0">
      <div *ngFor="let group of groups"
           [ngClass]="{
             'section-group': true, 
             'selected': group.name == filter.group, 
             'no-select': true
            }"
           (click)="setGroup(group.name)">
        {{group.title}}
      </div>
    </div> -->

    <div class="filter-input-row">
      <div class="filter-input ui icon input">
        <input type="text" placeholder="Filter..."
               [(ngModel)]="filter.filterText"
               (ngModelChange)="filterItems()">
        <i class="search icon"></i>
      </div>
    </div>

    <div class="section-items">
        <div *ngFor="let item of filteredItems"
                  class="section-item"
                  (mouseenter)="item.hover = true"
                  (mouseout)="item.hover = false">
            <img class="item-image" mat-card-image [src]="utils.getTechnologyImageName(item.name, false)">
            <div [ngClass]="{'item-title': true, 'hovered': item.hover, 'animate__animated': true, 'animate__fadeIn': true }">
              {{ item.title }}
            </div>
        </div>
    </div>
</div>