<div class="section section-aboutme">
    <div class="section-aboutme-content hidden"
                appObserveElement
                #intersection="intersection"
                [class.animate__animated]="intersection._isIntersecting"
                [class.animate__fadeIn]="intersection._isIntersecting"
                [class.visible]="intersection._isIntersecting"
                (isIntersecting)="isIntersecting($event)">

        <div class="col-left">
            <div>
                <div class="profile-left-content">
                    <img class="profile-img" src="/assets/images/about/about-me.jpg" alt="">
                    <div class="profile-left-content-details text-center">

                        <div class="contacts">
                            <a *ngFor="let contact of data.general.contacts"
                               class="contact"
                               [attr.href]="contact.value" target="_blank"
                               [attr.title]="contact.code">
                               <i [ngClass]="utils.getIconCss(contact.code)"></i>
                            </a>
                        </div>

                        <div class="profile-contacts">
                            <div class="profile-contact">
                                <strong class="title">Phone</strong>
                                <span class="cont"><a href="tel:{{data.general.mobilephone}}">{{data.general.mobilephone}}</a></span>
                            </div>
                            <div class="profile-contact">
                                <strong class="title">E-mail</strong>
                                <span class="cont"><a href="mailto:{{data.general.email}}">{{data.general.email}}</a></span>
                            </div>
                            <div class="profile-contact">
                                <strong class="title">Website</strong>
                                <span class="cont"><a href="{{data.general.website}}" target="_blank">{{data.general.website}}</a></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    
            <a class="download-cv-button"
                href="/assets/files/downloads/CV/CV_MuhammetTursak_v52.20200304.pdf"
                target="_blank">
                DOWNLOAD CV
            </a>

            <!-- <div class="profile-title">{{data.general.fullname}}</div>
            <div class="profile-position">{{data.general.title_short}}</div> -->
        </div>
    
        <div class="col-right">
            <div class="profile-info section-border-bottom">    
                <p class="short-des animate__animated animate__fadeInUp" 
                   data-wow-delay=".2s"
                   style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    </p>
                    
                    <div class="header">Background</div>
                    <p>{{data.general.biography}}</p>
                    <br>
    
                    <div class="header">Vision</div>
                    <p>{{data.general.vision}}</p>
                    <br>
    
                    <div class="header">Mission</div>					
                    <p>{{data.general.mission}}</p>																	
                    <br>

                    <div>
                        <div class="header"><strong>Positions</strong></div>	
                        <ul>
                            <li class="simple" *ngFor="let position of data.general.positions">
                                <span>{{position.name}} <small style="font-size:9px;">({{position.experience}})</small>
                                </span>
                            </li>                                              
                        </ul>
                    </div>
                <p></p>
            </div>
        </div>
    </div>
</div>