.section-aboutme {
    display: flex;
    justify-content: center;

    .section-aboutme-content {
        width: 100%;
        max-width: 1100px;
        padding: 50px 50px 10px 50px;
        margin: 45px 15px;
        display: flex;
        flex-direction: row;

        .col-left {
            flex: 1;
            display: flex;
            flex-direction: column;

            .profile-left-content {
                display: flex;
                flex-direction: column;
                position: relative;

                .profile-img {
                    flex: 1;
                    width: 100%;
                }

                .profile-left-content-details {
                    position: absolute;
                    background-color: black;
                    color: white;
                    text-align: center;
                    padding: 10px;
                    width: 100%;
                    overflow: hidden;
                    bottom: 0px;
                    
                    height: 100px;
                    &:hover {
                        height: 200px;
                    }

                    a, a:hover, a:visited {
                        color: white;
                    }

                    .fullname {
                        margin-bottom: 5px;
                        font-weight: 400;
                        font-size: 13px;
                    }
                    .title {
                        margin-bottom: 10px;
                        font-weight: 700;
                        font-size: 16px;
                    }

                    .social-links {
                        display: flex;
                        flex-direction: row;
                        color: white !important;
                        margin-bottom: 10px;
                        a, a:hover, a:visited {
                            height: 30px;
                            font-size: 12px;
                            padding: 4px;
                            cursor: pointer;
                            color: white !important;
                        }
                    }

                    .profile-contacts {
                        .profile-contact {
                            .title {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }

            .download-cv-button {
                background: #000 none repeat scroll 0 0;
                border: 1px solid #000;
                color: #fff;
                font-size: 18px;
                font-weight: 700;
                margin-top: 5px;
                padding: 15px 30px;
                width: 100%;
                transition: all 0.3s ease-out;
                text-align: center;

                visibility: visible;
                animation-delay: 0.4s; 
                animation-name: fadeInUp;

                &:hover {
                    background-color: white;
                    color: darkgray;
                }
            }
        }

        .col-right {
            flex: 2;
            padding: 0px 0px 0px 30px;
        }

    }
}