.section-projects {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: white;

    .section-summary {
        font-size: 14px;
        padding: 5px 0px 10px 0px;
        text-align: center;
    }

    .filter-input-row {
        margin: 0px 0px 10px 0px;
        display: flex;
        flex-direction: row;
        align-self: center;
        width: 70%;
        flex: 0 0 70%;

        .filter-input {
            justify-items: center;
            justify-content: center;
            justify-self: center;
            align-items: center;
            align-content: center;
            align-self: center;
            flex: 0 0 100%;
            &:focus-within {
                flex: 0 0 100%;
            }
        }
    }

    .section-groups {
        align-self: center;
        margin: 8px 0px 15px 0px;
        display: flex;
        flex-direction: row;

        .section-group {
            min-width: 80px;
            text-align: center;
            padding: 6px 10px;
            margin: 0px 1px;
            border: 1px solid lightgray;
            color: gray;
            cursor: pointer;

            &.selected {
                background-color: black;
                color: white; 
            }

            &:hover {
                background-color: rgba(163, 163, 163, 0.5);
                color: black;
            }
        }
    }

    .section-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .section-item {
            max-width: 200px;
            width: 200px;
            display: flex;
            flex-direction: column;
            height: 250px;
            position: relative;
            margin: 10px;
            border-top: 3px solid lightgray;
            border-bottom: 1px solid rgba(163, 163, 163, 0.1);
            border-left: 1px solid rgba(163, 163, 163, 0.1);
            border-right: 1px solid rgba(163, 163, 163, 0.1);
            pointer-events: auto;
            border-radius: 10px;

            &:hover {
                cursor: pointer;
                border-top: 4px solid gray;
                border-bottom: 1px solid gray;
                border-left: 1px solid gray;
                border-right: 1px solid gray;
            }

            .item-image {
                margin: 20px;
                pointer-events: none;
            }

            .item-title {
                width: 100%;
                min-height: 60px;
                position: absolute;
                bottom: 0px;
                text-align: center;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                padding: 5px 5px 10px 5px;
                background-color: rgba(163, 163, 163, 0.1);
                display: none;
                pointer-events: none;
                border-top: 1px solid lightgray;

                &.hovered {
                    display: flex;
                }
            }
        }
    }
}
