<div class="vertical-timeline">
    <div class="timeline">
        <ng-content></ng-content>
        <div class="demo-card-wrapper">
            <div *ngFor="let item of items; index as i;"
                [ngClass]="['demo-card', 'demo-card--step'+(i+1)]">
                <div class="head">
                    <div class="number-box">
                        <span>{{i+1}}</span>
                    </div>
                    <h2><span class="small">{{item.title1}}</span> {{item.title2}}</h2>
                </div>

                <div [ngClass]="{'body': true }"
                     [innerHtml]="item.content">
                </div>
            </div>
        </div>
    </div>
</div>
