// variables
$title-bgcolor: lightgray;
$header-bgcolor: rgb(243, 243, 243);
$cell-bgcolor: white;

//css
.grid-list {
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    
    .title {
        padding: 12px 16px;
        font-weight: bold;
        font-size: 14px;
        background-color: $title-bgcolor;
        text-transform: uppercase;
        font-size: 14px;
        display: flex;
        flex-direction: row;

        .badge {
            background-color: white;
            color: gray;
            padding: 3px;
            margin: 2px 2px 2px 10px;
            font-size: 10px;
            font-weight: normal;
        }
    }

    .rows {
        .header-row {
            padding: 8px 16px;
            background-color: $header-bgcolor;
            // border-bottom: 1px solid gray;
            font-weight: bold;
            display: flex;
            flex-direction: row;

            .header-cell {
                flex: 1;
            }
        }

        .row {
            padding: 8px 16px;
            background-color: $cell-bgcolor;
            display: flex;
            flex-direction: row;

            &:not(:last-child) {
                border-bottom: 1px dashed lightgray;
            }

            .cell {
                flex: 1;
            }

            &:hover {
                background-color: rgb(255, 255, 238);
            }
        }
    }
}