<div class="gallery-items" *ngIf="items">
    <div class="gallery-item-container">
        <div [ngClass]="{'gallery-button-prev':true, 'disabled':!getPrev()}" (click)="prev()">
            <i class="fa fa-chevron-left"></i>
        </div>

        <div class="gallery-item">
            <div class="item-image">
                <img class="gallery-item-image"
                        [src]="getImageSrc(item)">
            </div>

            <div class="item-title">
                <ng-container *ngIf="titleTemplate">
                    <ng-container *ngTemplateOutlet="titleTemplate; context: { item }">
                    </ng-container>
                </ng-container>
            </div>
        </div>

        <div [ngClass]="{'gallery-button-next':true, 'disabled':!getNext()}" (click)="next()">
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>

    <div class="gallery-thumb-items">
        <div class="gallery-thumb-item" *ngFor="let itemSmall of itemsSmall">

        </div>
    </div>
</div>